{% extends "base.html" %}

{% block content %}

    <h1>Signup</h1>
    <form action="/validate" id="form" method="POST">
        <fieldset>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label for="username">Username
                        </label>
                    </td>
                    <td>
                        <input id="username" type="text" name="username"  value="{{username}}" />
                        <p class='error'>{{ username_error }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password
                        </label>
                    </td>
                    <td>
                        <input id="password" type="password" name="password" />
                        <p class='error'>{{ password_error }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="verify_password">Verify Password</label>
                        </label>
                    </td>
                    <td>
                        <input id="verify_password" type="password" name="verify_password" />
                        <p class='error'>{{ verify_password_error }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email (optional)</label>
                    </td>
                    <td>
                        <input id="email" type="text" name="email" value="{{email}}" />
                        <p class='error'>{{ email_error }}</p>
                    </td>  
                </tr>
            </tbody>
        </table>
            <input type="submit" value="Submit"/>
        </fieldset>
        </form>

{% endblock %}
